In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
import numpy as np
import pandas as pd

In [8]:
# 演習用のデータフレームを作成します。
df = pd.DataFrame({ '顧客番号': ['01285679', '01340788', '02123782', '10541976', '12297411', 
                             '13299899', '30144450', '47339981'],
                   '都道府県名': ["北海道","北海道",'青森県','群馬県','千葉県','東京都','和歌山県','沖縄県'],
                  'メールアドレス':   ["nabe@example.net","hiro@example.net","aatsu@example.net",
                               "hi106@example.org","im_to@example.co.jp","ka713@example.org",
                               "sato@example.com","oka_h@example.net"]},
                    index=[0, 1, 2, 3, 4, 5, 6,7])
# オリジナルのデータフレームを表示
display(df)

       顧客番号 都道府県名              メールアドレス
0  01285679   北海道     nabe@example.net
1  01340788   北海道     hiro@example.net
2  02123782   青森県    aatsu@example.net
3  10541976   群馬県    hi106@example.org
4  12297411   千葉県  im_to@example.co.jp
5  13299899   東京都    ka713@example.org
6  30144450  和歌山県     sato@example.com
7  47339981   沖縄県    oka_h@example.net

In [9]:
print('before:', df.shape)
df = df[~df['メールアドレス'].str.contains('@example.org')]
print('after:', df.shape)

before: (8, 3)
after: (6, 3)

In [10]:
df

       顧客番号 都道府県名              メールアドレス
0  01285679   北海道     nabe@example.net
1  01340788   北海道     hiro@example.net
2  02123782   青森県    aatsu@example.net
4  12297411   千葉県  im_to@example.co.jp
6  30144450  和歌山県     sato@example.com
7  47339981   沖縄県    oka_h@example.net

In [5]:
# 演習用のデータフレームを作成します。
df = pd.DataFrame({ '顧客番号': ['01285679', '01340788', '02123782', '10541976', '12297411', 
                             '13299899', '30144450', '47339981'],
                   '都道府県名': ["北海道","北海道",'青森県','群馬県','千葉県','東京都','和歌山県','沖縄県'],
                  'メールアドレス':   ["nabe@example.net","hiro@example.net","aatsu@example.net",
                               "hi106@example.org","im_to@example.co.jp","ka713@example.org",
                               "sato@example.com","oka_h@example.net"]},
                    index=[0, 1, 2, 3, 4, 5, 6,7])
# オリジナルのデータフレームを表示
display(df)

       顧客番号 都道府県名              メールアドレス
0  01285679   北海道     nabe@example.net
1  01340788   北海道     hiro@example.net
2  02123782   青森県    aatsu@example.net
3  10541976   群馬県    hi106@example.org
4  12297411   千葉県  im_to@example.co.jp
5  13299899   東京都    ka713@example.org
6  30144450  和歌山県     sato@example.com
7  47339981   沖縄県    oka_h@example.net

In [6]:
print('before:', df.shape)
df = df[df['メールアドレス'].str.contains('@example.org')]
print('after:', df.shape)

before: (8, 3)
after: (2, 3)

In [7]:
df

       顧客番号 都道府県名            メールアドレス
3  10541976   群馬県  hi106@example.org
5  13299899   東京都  ka713@example.org