In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
%cd d:
%cd jupyter
%pwd

D:\
D:\jupyter

'D:\\jupyter'

In [3]:
#ライブラリを読み込む
import openpyxl as xl
import win32com.client
import os
import sqlite3
import numpy as np
import pandas as pd
import codecs
from pytz import timezone
from datetime import datetime

In [4]:
cd mail_addr_concat

D:\jupyter\mail_addr_concat

In [5]:
ls

 ドライブ D のボリューム ラベルは ボリューム です
 ボリューム シリアル番号は C64A-827C です

 D:\jupyter\mail_addr_concat のディレクトリ

2023/12/08  14:47    <DIR>          .
2023/12/08  14:47    <DIR>          ..
2023/12/08  14:03               498 mail_addr28.csv
2023/12/08  14:47               306 mail_addr28_1.csv
2023/12/08  14:49               325 out_csv
2023/12/08  15:35               120 output.csv
2023/12/08  14:47            22,542 乱数表.xlsx
               5 個のファイル              23,791 バイト
               2 個のディレクトリ  209,405,644,800 バイトの空き領域

In [8]:
# read csv as df
import codecs
with codecs.open("mail_addr28_1.csv", mode ="r", encoding ="utf-8", errors="ignore") as file:
    df = pd.read_csv(file, delimiter =",",header=0)

In [10]:
df.columns = ['random_words']

In [11]:
df = df.truncate(16)

In [12]:
df

   random_words
16    lhu2x4fB!
17    t9iwuZqYr
18     q8neldp_
19     3ehu2akk
20     7cal2wrf
21    9q7Zqqvtk
22     f95hcq9p
23     hhcpi6l0
24     Yw4u7w4_
25     o7vtf7_3
26     qq6sn74e
27    4osrB!wcY

In [13]:
len(df)

12

In [14]:
df.reset_index(drop=True)

   random_words
0     lhu2x4fB!
1     t9iwuZqYr
2      q8neldp_
3      3ehu2akk
4      7cal2wrf
5     9q7Zqqvtk
6      f95hcq9p
7      hhcpi6l0
8      Yw4u7w4_
9      o7vtf7_3
10     qq6sn74e
11    4osrB!wcY

In [15]:
dfbk = df

In [16]:
# initialize "output.csv"
with open("output.csv", "w") as f:
    pass

In [17]:
ls

 ドライブ D のボリューム ラベルは ボリューム です
 ボリューム シリアル番号は C64A-827C です

 D:\jupyter\mail_addr_concat のディレクトリ

2023/12/08  14:47    <DIR>          .
2023/12/08  14:47    <DIR>          ..
2023/12/08  14:03               498 mail_addr28.csv
2023/12/08  14:47               306 mail_addr28_1.csv
2023/12/08  14:49               325 out_csv
2023/12/08  15:39                 0 output.csv
2023/12/08  14:47            22,542 乱数表.xlsx
               5 個のファイル              23,671 バイト
               2 個のディレクトリ  209,405,644,800 バイトの空き領域

In [20]:
np_array = df['random_words'].values
np_list = np_array.tolist()
# splited into 3
N = 3 
splited_df = [np_list[i:i+N] for i in range(0, len(df), N)]
# convert into a dataframe
dt = pd.DataFrame(splited_df)

In [21]:
dt

           0          1          2
0  lhu2x4fB!  t9iwuZqYr   q8neldp_
1   3ehu2akk   7cal2wrf  9q7Zqqvtk
2   f95hcq9p   hhcpi6l0   Yw4u7w4_
3   o7vtf7_3   qq6sn74e  4osrB!wcY

In [22]:
dt = dt.T

In [23]:
dt

           0          1         2          3
0  lhu2x4fB!   3ehu2akk  f95hcq9p   o7vtf7_3
1  t9iwuZqYr   7cal2wrf  hhcpi6l0   qq6sn74e
2   q8neldp_  9q7Zqqvtk  Yw4u7w4_  4osrB!wcY

In [24]:
collist = ['col1', 'col2', 'col3', 'col4']

In [25]:
dt.columns = collist

In [26]:
dt

        col1       col2      col3       col4
0  lhu2x4fB!   3ehu2akk  f95hcq9p   o7vtf7_3
1  t9iwuZqYr   7cal2wrf  hhcpi6l0   qq6sn74e
2   q8neldp_  9q7Zqqvtk  Yw4u7w4_  4osrB!wcY

In [27]:
df = dt

In [28]:
df

        col1       col2      col3       col4
0  lhu2x4fB!   3ehu2akk  f95hcq9p   o7vtf7_3
1  t9iwuZqYr   7cal2wrf  hhcpi6l0   qq6sn74e
2   q8neldp_  9q7Zqqvtk  Yw4u7w4_  4osrB!wcY

In [29]:
ls

 ドライブ D のボリューム ラベルは ボリューム です
 ボリューム シリアル番号は C64A-827C です

 D:\jupyter\mail_addr_concat のディレクトリ

2023/12/08  14:47    <DIR>          .
2023/12/08  14:47    <DIR>          ..
2023/12/08  14:03               498 mail_addr28.csv
2023/12/08  14:47               306 mail_addr28_1.csv
2023/12/08  14:49               325 out_csv
2023/12/08  15:39                 0 output.csv
2023/12/08  14:47            22,542 乱数表.xlsx
               5 個のファイル              23,671 バイト
               2 個のディレクトリ  209,405,644,800 バイトの空き領域

In [30]:
# connect with ";" from col 0 to 4 then print to file
for i in collist:
    k = ";".join(df[i])
    print(k, "," , file=codecs.open('output.csv', 'a', 'utf-8'))

In [31]:
# read csv as df
import codecs
with codecs.open("output.csv", mode ="r", encoding ="utf-8", errors="ignore") as file:
    df = pd.read_csv(file, delimiter =",", header=None)

In [32]:
df

                               0   1
0  lhu2x4fB!;t9iwuZqYr;q8neldp_  NaN
1   3ehu2akk;7cal2wrf;9q7Zqqvtk  NaN
2    f95hcq9p;hhcpi6l0;Yw4u7w4_  NaN
3   o7vtf7_3;qq6sn74e;4osrB!wcY  NaN

In [33]:
# drop second column
df = df.drop(columns=[1])

In [34]:
df

                               0
0  lhu2x4fB!;t9iwuZqYr;q8neldp_
1   3ehu2akk;7cal2wrf;9q7Zqqvtk
2    f95hcq9p;hhcpi6l0;Yw4u7w4_
3   o7vtf7_3;qq6sn74e;4osrB!wcY

In [35]:
dfbk

   random_words
16    lhu2x4fB!
17    t9iwuZqYr
18     q8neldp_
19     3ehu2akk
20     7cal2wrf
21    9q7Zqqvtk
22     f95hcq9p
23     hhcpi6l0
24     Yw4u7w4_
25     o7vtf7_3
26     qq6sn74e
27    4osrB!wcY

In [38]:
df.columns = ['";" で連結したrandom_words']

In [39]:
df

           ";" で連結したrandom_words
0  lhu2x4fB!;t9iwuZqYr;q8neldp_
1   3ehu2akk;7cal2wrf;9q7Zqqvtk
2    f95hcq9p;hhcpi6l0;Yw4u7w4_
3   o7vtf7_3;qq6sn74e;4osrB!wcY